<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("includes/head.ejs") %>
</head>

<body>
    <header>
        <%- include("includes/header.ejs") %>
    </header>

    <main>
        <div class="container all_posts">
            <% for(post of posts) { %>
                <div class="post">
                    <h3 class="user">@<%= post.username %>
                    </h3>
                    <div class="picture"><img src="data:image/png;base64,<%= post.image %>" alt="some image"></div>
                    <div class="content">
                        <span>
                            <%= post.content %>
                        </span><br>
                        <a href="/home/<%= post.id %>/details">Details</a>
                    </div>
                </div>
            <% } %>
        </div>
    </main>

    <%- include("includes/footer.ejs") %>
</body>

</html>